In [ ]:
import pandas as pd

In [1]:
# how to read and write tabluar data?

In [ ]:
titanic = pd.read_csv("data/titanic/csv") #This converst csv into a DataFrame

In [ ]:
titanic.head(8) #if i want to see only first 8 rows of a dataset.
titanic.tail(10) #will give last 10 rows

In [ ]:
titanic.dtypes # Will give dtypes of all the cols.

In [ ]:
titanic.to_excel("titanic.xlsx", sheet_name="passengers", index=False) # Titanic data as a spreadsheet.

In [ ]:
titanic = pd.read_excel("titanic.xlsx", sheet_name="passengers") #To excel file.

In [ ]:
titanic.info() #A technical summary of a DataFrame

In [ ]:
# - **Input Data**: Use `read_*` functions to load data into pandas.  
# - **Export Data**: Use `to_*` methods to save data.  
# - **Quick Check**: Use `head`, `tail`, `info`, and `dtypes`.

In [ ]:
### --- How do I select a subset of a --- ###

In [ ]:
# Select specific column.
ages = titanic["Ages"] # Selecting ages col from titanic dataSet.
ages.head() #Will show first 5 rows on ages col.
type(titanic["Ages"]) #Data type of the col and not the content in the col.

In [ ]:
titanic["Age"].shape #Gives number of rows in the column.

In [6]:
# How to select 2 cols or multuple cols.
age_sex = titanic(["Ages", "Sex"]) #use "List" as an arg to select multiple col. 
ages_sex.head()

In [ ]:
### --- How do I filter rows from a data set --- ###

In [ ]:
# Select the passengers older than 35 years.
above_35 = titanic[titanic["age"]>35]
# To select rows based on a conditional expression, use a condition inside the selection brackets [].